<div class="container text-center">
  <h1 class="my-5">Add movie to <%=@list.name%></h1>

  <%= simple_form_for [ @list, @bookmark ] do |f|%>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "+ Add", class: "btn btn-secondary" %>
  <% end %>
</div>
